VITE_BEATSAVER_API_URL=https://api.beatsaver.com
VITE_SCORESABER_API_URL=https://scoresaber.com
VITE_BEATLEADER_API_URL=https://api.beatleader.com
VITE_CORS_PROXY_URL=https://c.prox.artemis.shyyluna.dev
VITE_LUDUS_URL=https://ludus-1.scoresaber.com
VITE_TA_LIVE_SOCKET_URL=wss://server.tournamentassistant.net:8676
VITE_ENABLED_SOURCES=beatsaver,scoresaber,beatleader
